h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
    color: #222;
    margin-bottom: 0.5em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #0078ff;
    text-decoration: underline;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f9f9f9;
    color: #222;
    margin: 0;
    padding: 40px;
}

html {
    font-size: 16px;
}

p,
a {
    font-size: 1rem;
}

iframe {
    width: 85%;
    height: 300px;
    border: none;
    border-radius: 10px;
    background-color: #f3f3f3;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

iframe:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #111;
    margin-top: 40px;
    margin-bottom: 10px;
}

.code-demo {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 14px;
  color: #1e6fff;
  text-decoration: none;
}