* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.menu {
    display: flex;
    gap: 36px;
}

.item {
    font-size: 32px;
    color: #111;
    transition: 0.3s ease;
}

.item:hover {
    transform: scale(1.4);
}

.menu:hover > :not(:hover) {
    opacity: 0.7;
    filter: blur(3px);
}
